* {
  --normal-font: 'Roboto', sans-serif;
  --bold-font: 'Playfair Display', serif;
  --hero-color: #F3EED9;
  --article-secondary-color: #222C2A;
  --article-main-color: #824936;

  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
