*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --hero-title-color: #824936;
  --section-text-color: #F3EED9;
  --section-bg-dark: #222C2A;
  --title-font-family: 'Playfair Display', serif;
  --subtitle-font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: var(--subtitle-font-family);
  font-size: 1.3125rem;
  line-height: 1.6;
  color: var(--section-bg-dark);
}

img { 
  max-width: 100%;
}

h1, h2 {
  font-family: var(--title-font-family);
  font-weight: 900;
  margin-top: 0;
  line-height: 1.1;
}

section {
  padding: 4em 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.section-title {
  font-size: 2.25rem;
  color: var(--section-text-color);
}

.section-title--dark {
  color: var(--hero-title-color);
}

.intro {
  background: var(--section-text-color);
  padding: 200px 0;
  text-align: center;
  color: var(--hero-title-color);
}

.intro__text {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 1.125rem;
  color: var(--section-bg-dark);
  margin: 0 0 .25em;
}

.intro__title {
  font-size: 3rem;
}

.section-three {
  background-color: var(--section-bg-dark);
  color: #fff;
}

.section-four {
  background-color: var(--hero-title-color); 
  color: #fff;
}